body {
    height: 100%
}

:root {
    --scroll-height: 0;
    --page-height: 0;
}

.title-banner {
    background: rgb(66,128,233);
    background: radial-gradient(circle, rgba(66,128,233,1) 52%, rgba(37,92,154,1) 100%);
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 100;
    position: relative;
}

.year-section {
    max-width: 1050px;
}

.event-section-right {
    position: relative;
    left: 50%;
    max-width: 500px;
    padding-left: 20px;
}

.event-section-left {
    max-width: 500px;
    padding-left:0px;
}

.event-body {
    font-size: large; 
    border: 1px solid black;
    border-radius: 5px;
}

.year-timeline-filled {
    background-color: green;
    display: block;
    height: calc( (var(--scroll-height) * .15) + 30% );
    /* height: calc( ( var(--page-height) - var(--scroll-height) ) + 15% ); */
    left: 50%;
    position: fixed;
    width: 3px;
    top:0px;
    z-index: 2;
}

.year-timeline {
    background-color: #f7f8f8;
    display: block;
    height: 100%;
    left: 50%;
    position: fixed;
    top:0px;
    width: 3px;
}

.event-header {
    font-size: large;
    padding-top: 10px;
}

.event-header-left {
    text-align: right;
    padding-right: 10px;
}

.event-header-right {
    padding-left: 10px;
}

.big-bottom-padding {
    padding-bottom: 200px;
}